<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RR @(String.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/libs/jquery.mobile/css")
    @Styles.Render("~/libs/base/css")
    @Styles.Render("~/libs/ray/css")
    @RenderSection("css", required: false)
</head>
<body>
    <header class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="collapsed navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="../" class="navbar-brand">RR</a>
            </div>
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Virsual", new { Area = "RD" })" class="button button-search">Virsual</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Google", new { Area = "RD" })" class="button button-search">Google</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Excel", new { Area = "RD" })" class="button button-search">Excel</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "File", new { Area = "RD" })" class="button button-search">File</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Summernote", new { Area = "RD" })" class="button button-search">Summernote</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("", "Buyer", new { Area = "MB" })" class="button button-search">Buyer</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container" data-role="content">
        @RenderBody()
    </div>
    <footer data-role="footer">
    </footer>
    @Scripts.Render("~/libs/modernizr/js")
    @Scripts.Render("~/libs/jquery/js")
    @Scripts.Render("~/libs/bootstrap/js")
    @Scripts.Render("~/libs/app/js")
    <script>
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    @RenderSection("jsscript", required: false)
</body>
</html>
